@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
.root {
  min-height: 100vh;
}


body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $black;

  font-size: 16px;
  line-height: 19px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// App code 

button {
  font-family: inherit;
}


.App {
  // display: grid;
  // grid-template-rows: 1fr auto;
  min-height: 100vh; //magic
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.page-container {
  min-height: 100vh;
  padding: 1rem;

  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto 1fr;


  // temp
  text-align: center;

}


.user-info-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;

  // border-bottom: solid 1px #ddd;
  // padding: 8px 8px 1rem;
  padding: 8px;

  .name {
    font-size: large;
    font-weight: bold;
  }


  .balance {
    font-size: large;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: solid 2px $green;
  }
}

.crowd-actions-grid {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  // .beach-ball-section {
  //   grid-row: 1;
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  // }


}

.on-stage-grid {
  padding: 1rem;
  border: solid 1px gray;
  border-radius: 1rem;
  margin-bottom: 40px;
}

.on-stage-label {
  text-transform: uppercase;
  color: gray;
}

.on-stage-user {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;

  padding: 1rem;
}

.user-actions-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;

  // .clap-section {
  //   grid-row: 2;
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  // }

}


.beachball-button {
  // background: url(/image/btn.png) no-repeat;
  cursor: pointer;
  border: none;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
}

.beachball-caption {
  padding-top: 0.5rem;

  margin: 0 auto;
  max-width: 16rem;
}

.clap-button {
  // background: url(/image/btn.png) no-repeat;
  cursor: pointer;
  border: none;
  position: relative;

  border-radius: 50%;
  height: 24vh;
  width: 24vh;


  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.15rem;

  color: $white;
  background: $black;
  box-shadow: 0px 4px $green, inset 0px 2px 3px #555;
}

// .clap-button:before {
//   display: block;
//   position: absolute;
//   top: -18px;
//   left: -18px;
//   bottom: -18px;
//   right: -18px;
//   z-index: -1;
//   border-radius: 50%;

//   content: "";
//   background: #fff;
//   border-top: 2px solid #ddd;
//   box-shadow: inset 0px 8px 48px #ddd;
// }

.clap-button:focus {
  outline: 0;
}

.clap-label {
  min-height: 32px;
  margin-bottom: 12px;
  color: $black;
  text-shadow: 1px 1px $green;

  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.15rem;

  .emoji {
    text-shadow: none;
  }

}


.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}



.consensus-button {
  // color: deepskyblue;

  padding: 14px 20px;

  border: none;
  background-color: $black;

  // font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  align-items: center;
  text-align: center;

  color: $white;
  box-shadow: 0px 2px 4px $green;

  border-radius: 1rem;
}