$white: #ffffff;
$black: #1e1e1e;

$green: #00FF00;


// $primaryLight: #1e1e1e;
// $primaryColor: #303c6c;

// // DK
// $primaryHighlight: #0eb1d2;
// $green: #61b510;
// $blue: #1d84b5;
// $gray: #8f8f8f;

// $red: #ff7579;
// $purple: #ba6ad9;


// // $lightGray: #c7d6d5;
// $lightGray: lighten($color: $black,
//   $amount: 74,
// );
// $lighterGray: lighten($color: $black,
//   $amount: 85,
// );

// $darkText: lighten($color: $black,
//   $amount: 10,
// );
// $lightText: lighten($color: $darkText,
//   $amount: 10,
// );
// $lighterText: lighten($color: $darkText,
//   $amount: 25,
// );

// https://coolors.co/2ca58d-ff9b42-57abf2-605856-274156
// $green: #2CA58D;
// $red: #605856;
// $purple: #FF9B42;

// BOX SHADOWS
// BOX SHADOWS
// BOX SHADOWS
$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
0 4px 6px -2px rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-light: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
// BOX SHADOWS
// BOX SHADOWS
// BOX SHADOWS